.order-container {
    width: 500px;
    border: 1px solid #B9B9A1;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .order-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 8px;
    color: #ADC178;
  }
  
  .order-number {
    font-size: 18px;
    color: #444444;
  }
  
  .order-details {
    font-size: 16px;
    color: #444444;
  }
  
  .order-item {
    font-size: 14px;
    color: #444444;
  }
  