.container {
    width: 100%;
    height: 100vh;
    background-color: #b9b9a1;
    color: #333333;
    padding-left: 3rem;
    font-weight: bolder;
    font-size: larger;
}

.loading {
    margin-top: 7rem;
    width: 200px;
}