.countContainer {
  width: 14rem;
  flex-direction: column;
  height: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-top: 2.5rem;
}

.card {
  width: 500px;
  border: 1px solid #B9B9A1; 
  border-radius: 8px;
  padding: 8px;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn {
  color: #73746D;
  font-weight: bolder;
  background-color: #DDE5B6;
  border-color: #ADC178;
  margin: 0 1px;
}

.btn:hover {
  color: #DDE5B6;
  background-color: #73746D;
}

.card button {
  width: fit-content;
  color: #EDEDDF; 
  background-color: #ADC178;
  border-color: #73746D; 
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card button:hover {
  color: #DDE5B6;
  background-color: #73746D;
}
